.vscode/**
.github/**
.nyc_output/**

**/*.ts
**/*.map
utilities/**

**/tsconfig.json
**/tsconfig.base.json

.gitignore
.git-blame-ignore-revs
contributing.md
CHANGELOG.md

.mocharc.json
esbuild.mjs
eslint.config.mjs
coverage.lcov

TODO.md
private-notes.txt

client/**
!client/dist
!client/dist/**/*

server/**
!server/dist
!server/dist/**/*

choicescript/**
!choicescript/out