.vscode/**
.github/**
.nyc_output/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
shared.webpack.config.js
client/**
!client/out/extension.js
server/**
!server/out/server.js
coverage.lcov
private-notes.txt
